body{
    background-color: black;
    color: wheat;  /*text color* css*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h5{
    display: inline;
    text-align: center;
    font-style: italic;
    background-color: blue;
    font-weight: bolder;
    color: yellow;  /*font color*/

}

a{
    color: aqua;
}

a:visited{
    color: darkgray;
}

img{
    border: 2px solid fuchsia;
    padding: 3px;
    margin: 5px;

    /*centers stuff*/
    /* display: block;
    margin: auto; */
}

.center{
    display: block;
    margin: auto;
}

.rizz{
    font-style: normal;
    font-size: 30px;
    color:crimson;
    background-color: indigo;
    border: 10px solid darkblue;

}

.rizz:hover{
    font-style: italic;
    font-size: 30px;
    color:crimson;
    background-color: indigo;
    border: 10px solid darkblue;
}

li{
    text-decoration: overline;
}

li:hover{
    text-decoration: underline;
}

